<div class="settings-container">
  <div class="sidebar">
    <!-- Back button with PrimeNG button -->
    <button pButton type="button" icon="pi pi-arrow-left" label="Back" class="back-button" (click)="goBack()"></button>

    <!-- PrimeNG Menu component for sidebar items -->
    <p-menu #menu [model]="items" [popup]="false"></p-menu>
  </div>
  <div class="settings-content">
    <!-- <app-users *ngIf="selectedSection === 'users'"></app-users> -->
    <app-notifications *ngIf="selectedSection === 'notifications'"></app-notifications>
    <app-geofence *ngIf="selectedSection === 'geofence'"></app-geofence>
   <app-users *ngIf="selectedSection === 'users'"></app-users>
    <!-- Add more components as needed -->
  </div>
</div>
