.settings-container {
  display: flex;
}

.sidebar {
  width: 200px;
  border-right: 1px solid #ddd;
  background-color: #f8f9fa;
  height: 100vh;
  padding-top: 10px; /* Adjust based on the button height */
}

.back-button {
  width: 100%;
  margin-bottom: 20px; /* Space below the back button */
}

.settings-content {
  flex-grow: 1;
  padding: 20px;
}
