<div class="replay-controls">
  <button class="p-button p-component" (click)="openDateRangeDialog()">
    <span class="p-button-icon pi pi-calendar"></span> Change Date Range
  </button>
  <button class="p-button p-component" (click)="stopReplay()" [disabled]="!isPlaying">
    <span class="p-button-icon pi pi-stop-circle"></span> Stop
  </button>
  <button class="p-button p-component" (click)="playReplay()" [disabled]="isPlaying">
    <span class="p-button-icon pi pi-play-circle"></span> Play
  </button>
  <button class="p-button p-component" (click)="closeReplay()">
    <span class="p-button-icon pi pi-times-circle"></span> Close
  </button>
</div>
