.replay-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.replay-controls button {
  background: #007bff;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.replay-controls button:hover {
  background: #0056b3;
}
/*
.seek-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.seek-bar input[type="range"] {
  flex-grow: 1;
} */
.replay-controls input[type="range"] {
  flex: 1;
  margin: 0 10px;
}
