<div class="map-container">
  <p-toast></p-toast>
  <button class="toggle-button" (click)="toggleDeviceList()">☰</button>
  <div class="device-list-container" [class.open]="deviceListOpen">
    <button class="close-button" (click)="toggleDeviceList()">✖</button>
    <app-device-list [devices]="devices" (deviceSelected)="onDeviceSelected($event)"></app-device-list>
  </div>
  <google-map #mapElement [mapId]="mapId" [center]="center" [zoom]="zoom" height="100%" width="100%"></google-map>
  <app-replay-controls *ngIf="replaying" (stop)="stopReplay()" (play)="playReplay()" (close)="closeReplay()" (dateRangeChanged)="updateReplayDates($event)"></app-replay-controls>
  <div id="speedometer-container" *ngIf="replaying || following">
    <ngx-gauge
      [value]="speed"
      [min]="0"
      [max]="200"
      [type]="'arch'"
      [cap]="'butt'"
      [size]="200"
      [thick]="12"
      [label]="'Speed (km/h)'"
      [foregroundColor]="'#FF0000'"
      [backgroundColor]="'#E0E0E0'">
    </ngx-gauge>
    <div>{{ currentDatetime }}</div>
    <p-button *ngIf="parkingEvents.length > 0" class="toggle-history-button" (click)="toggleParkingHistory()" label="  {{ showParkingHistory ? 'Hide' : 'Show' }} Parking History"/>
    <div *ngIf="(showParkingHistory && parkingEvents.length > 0 )" class="parking-history">
      <h4>Parking Events:</h4>
      <ul>
        <li *ngFor="let parking of parkingEvents">
          <strong>Date:</strong> {{ parking.deviceTime }}<br>
          <strong>Location:</strong> {{ parking.address }}<br>
          <strong>Duration:</strong> {{ formatDuration(parking.durationInMinutes) }}
        </li>
      </ul>
    </div>
  </div>
</div>
