<p-dialog
  header="{{ isEditMode ? 'Edit Notification' : 'Add Notification' }}"
  [(visible)]="displayDialog"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '60vw', height: '80vh' }"
  (onHide)="closeDialog()"
>
  <div class="p-fluid">
    <!-- Type Dropdown -->
    <div class="p-field">
      <label for="type">Type</label>
      <p-dropdown
        id="type"
        [options]="notificationTypes"
        [(ngModel)]="selectedManualType"
        [filter]="true"
        placeholder="Select a Notification Type"
        required>
      </p-dropdown>
    </div>
  </div>

  <p-footer>
    <p-button label="Cancel" [outlined]="true" severity="secondary" icon="pi pi-times" (click)="closeDialog()"></p-button>
    <p-button
      label="Save"
      icon="pi pi-check"
      (click)="saveNotification()"
      [disabled]="!selectedManualType">
    </p-button>
  </p-footer>
</p-dialog>
